.tableRadius{
    background-color: #FCFCFD;
    border-radius: 24px;
}


.carSubtitle{
    font-size: 18px;
    color: #667F99;
}

.formPadding{
    padding: 48px;
}

.textBoxCareer{
    height: 656px;
}

.sideWidth{
    width: 300px;
}